* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montessart";
}
.cardJ {
  border: solid !important;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
}
.shortDcrp {
  font-size: 15px;
  color: black;
  margin-bottom: 0;
}
.ApplyBtn {
  align-self: center;
  color: darkorange;
  height: 30px;
  margin-bottom: 10px;
}
.ant-typography {
  color: #3cb5ef !important;
}

.title {
  margin-bottom: 0 !important;
}
.title2 {
  margin-bottom: 0 !important;
}

.btn-login {
  background-color: #0e97d8 !important;
  color: white !important;
  margin-top: -10px;
  width: 190px;
  height: 50px;
  font-size: 20px !important;
  border-radius: 20px !important;
  font-weight: 700 !important;
  letter-spacing: 1px;
}
ul {
  margin-left: 40px !important;
}
li a {
  color: #0e97d8 !important;
  font-size: 22px;
  font-weight: 450;
  margin-right: 30px;
}
h3 {
  /* border: 1px solid #0E97D8; */
  width: 300px !important;
  text-align: center;
  color: #ff7c3b;
  font-size: 20px !important;
  cursor: pointer;
}
.SignUpseparator {
  width: 1px;
  height: 50px;
  border: 1px solid #ff7c3b !important;
  margin-top: -1%;
  margin-left: 12%;
  opacity: 0.5;
}
hr {
  border: 1px solid #0e97d8 !important;
  width: 50px;
  margin-left: 100px;
  transition: all linear 0.3s;
}
.tab-jobs {
  margin-left: 225px !important;
}
.form {
  margin-left: 290px;
  margin-top: 100px;
}
.Cform {
  margin-top: 100px !important;
}
form img {
  position: absolute;
  margin: -35px 470px;
}
form input {
  border-color: #0e97d8 !important;
  border-radius: 20px !important;
}
::placeholder {
  color: #000000 !important;
}
form h2 {
  color: #ff7c3b;
  opacity: 0.6;
}
.errorMsg {
  color: red !important;
}
.btn-register {
  background-color: #0e97d8 !important;
  border-radius: 20px !important;
}
.btn-register:hover {
  transition: all linear 0.1s;
  transform: scale(1.02);
}
.Cbtn-register:hover {
  transition: all linear 0.1s;
  transform: scale(1.02);
}
.Cbtn-register {
  background-color: #0e97d8 !important;
  border-radius: 20px !important;
  width: 550px !important;
  height: 70px;
  font-size: 30px !important;
}
.asset {
  display: flex;
  width: 30% !important;
  height: 50% !important;
  border: 1px solid #0e97d8;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}
.asset-container h6 {
  color: #ff7c3b !important;
  margin-left: 40px;
  width: 200px !important;
  opacity: 0.7;
}
.checkbox {
  margin-left: 150px;
}
.SigninApis {
  position: absolute;
  top: 40%;
  right: 0%;
  height: 300px;
  display: block;
}
.SigninApis h6 {
  margin-left: 100px;
  margin-top: -39px;
  font-size: 20px;
  color: white;
}
.SigninApis img {
  margin-top: 20px;
}
.upload {
  background: none;
  border: 1px solid #0e97d8;
  color: #0e97d8;
  outline: none;
  border-radius: 20px;
  width: 200px;
  height: 40px;
}
.upload:hover {
  background-color: #0e97d8;
  color: white;
}

.title::after {
  display: block;
  content: " ";
  height: 2px;
  width: 60px;
  background-color: #f57b25;
  border-radius: 2px;
  margin-top: 5px;
}
.separator {
  width: 1px;
  height: 200px;
  border: 3px solid #ff7c3b !important;
  margin-top: -1%;
  margin-left: 40%;
  opacity: 0.5;
}

.container2 {
  margin-left: 30px;
  width: 90%;
}

.popBtn {
  background-color: #ff7c3b !important;
}
.JobD {
  color: #ff7c3b !important;
}
.JobD::after {
  display: block;
  content: " ";
  height: 2px;
  width: 40px;
  background-color: #3cb5ef !important;
  border-radius: 2px;
  margin-top: 5px;
}
div::-webkit-scrollbar {
  width: 8px;
}

/* Track */
div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: #f57b25;
  border-radius: 10px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: #dd610a;
}

/* Job Detail View CSS Style */
.modal-footer .btn-primary {
  background-color: white !important;
  color: #f57b25 !important;
  border-color: gray !important;
  border-radius: 20px !important;
}
.modal-footer .btn-primary:hover {
  background-color: white !important;
  color: #3cb5ef !important;
  border-color: #3cb5ef !important;
  border-radius: 20px !important;
}
/* End of Job Detail View CSS Style */
/* css for the job post */
.navbar-JP {
  text-align: center;
  padding-right: 20px;
}
.input-JP {
  border-radius: 20px;
  border-color: #3cb5ef !important;
}
.item {
  margin-bottom: 20px;
}
.item-b {
  margin-top: 30px;
}
.description {
  color: #3cb5ef !important;
  margin-left: 20px;
  margin-bottom: 0 !important ;
  font-size: 16px;
}
.container-JP {
  margin-left: 5%;
}
.right-container {
  padding-left: 10%;
}
.post-btn {
  width: 100px;
  height: 50px;
  border-radius: 0 !important;
  font-size: 20px;
}
.post-btn-container {
  text-align: right;
}
.left-container {
  margin-left: 15%;
  margin-right: 10%;
}
.separator-JP {
  border-color: #f57b25 !important ;
  border: solid;
  margin-left: 50px;
  border-width: 1px;
  margin-top: 120px;
  margin-bottom: 100px;
}
.input-JP-deadline {
  background-color: white !important;
  border-color: white !important;
  color: #f57b25 !important;
  margin-top: 30px !important;
  font-size: 18px;
  margin-left: 20px;
  width: 180px;
}

.btn-Employment-t {
  background-color: #f57b25 !important;
  font-size: 14px;
  margin-left: 10px;
  width: 100px;
  border-radius: 20px !important;
  color: white;
}
.year {
  color: #f57b25 !important;

  font-size: 20px;
}
.req-list {
  margin-left: 20px;
  font-size: 17px;
  font-family: monospace;
}
.negotiable {
  color: #f57b25 !important;
  margin-top: 8px !important;
}
.btnJP {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding-top: 2%;
}
.slidecontainer {
  margin-left: 2px;
  margin-right: 2px;
  color: #f57b25;
  font-size: 18px;
  width: 80%;
}

.error-display {
  text-align: center;
  color: red;
}

/* End of cdd for the job post */
